# SPDX-FileCopyrightText: 2022 UdS AES <https://www.uni-saarland.de/lehrstuhl/frey.html>
#
# SPDX-License-Identifier: CC0-1.0

# Ignore specific directories
__pycache__/
.pytest_cache/
.vscode/
local/

# Ignore specific files
*.code-workspace
catalog-*.xml

# Ignore the local instance of the HermiT reasoner
HermiT/
