[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
black = "*"
ipython = "*"
pydotplus = "*"

[packages]
pytest = "*"
invoke = "*"
rdflib = "*"
requests = "*"
pyyaml = "*"
jinja2 = "*"

[requires]
python_version = "3.10"
