# SPDX-FileCopyrightText: 2022 UdS AES <https://www.uni-saarland.de/lehrstuhl/frey.html>
#
# SPDX-License-Identifier: CC0-1.0

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
black = "*"
ipython = "*"
pydotplus = "*"
reuse = "*"

[packages]
pytest = "*"
invoke = "*"
rdflib = "*"
requests = "*"
pyyaml = "*"
jinja2 = "*"

[requires]
python_version = "3.10"
